{% extends 'base/main.html' %} {% load static %} {% block content %}

<figure class="highcharts-figure">
  <div id="map-container"></div>
  <p class="highcharts-description">
    Map showing how a TopoJSON map source is handled and how the built-in
    orthographic projection is used.
  </p>
</figure>

<script>
  const data = [
    { name: "United States of America", value: 1477 },
    { name: "Brazil", value: 490 },
    { name: "Mexico", value: 882 },
    { name: "Canada", value: 161 },
    { name: "Sint Maarten", value: 29412 },
    { name: "Tuvalu", value: 39063 },
    { name: "Wake Island", value: 153846 },
    {
      name: "Russia",
      value: 74,
    },
    {
      name: "Argentina",
      value: 416,
    },
    {
      name: "Bolivia",
      value: 789,
    },
    {
      name: "Colombia",
      value: 805,
    },
    {
      name: "Italy",
      value: 805,
    },
    {
      name: "Paraguay",
      value: 2011,
    },
    {
      name: "Indonesia",
      value: 372,
    },
    {
      name: "South Africa",
      value: 466,
    },
    {
      name: "Papua New Guinea",
      value: 1239,
    },
    {
      name: "Germany",
      value: 1546,
    },
    {
      name: "China",
      value: 54,
    },
    {
      name: "Chile",
      value: 647,
    },
    {
      name: "Australia",
      value: 62,
    },
    {
      name: "France",
      value: 844,
    },
    {
      name: "United Kingdom",
      value: 1901,
    },
    {
      name: "Venezuela",
      value: 503,
    },
    {
      name: "Ecuador",
      value: 1560,
    },
    {
      name: "India",
      value: 116,
    },
    {
      name: "Iran",
      value: 208,
    },
    {
      name: "Guatemala",
      value: 2716,
    },
    {
      name: "Philippines",
      value: 828,
    },
    {
      name: "Sweden",
      value: 563,
    },
    {
      name: "Saudi Arabia",
      value: 100,
    },
  ];
  const getGraticule = () => {
    const data = [];
    for (let x = -180; x <= 180; x += 15) {
      data.push({
        geometry: {
          type: "LineString",
          coordinates:
            x % 90 === 0
              ? [
                  [x, -90],
                  [x, 0],
                  [x, 90],
                ]
              : [
                  [x, -80],
                  [x, 80],
                ],
        },
      });
    }
    for (let y = -90; y <= 90; y += 10) {
      const coordinates = [];
      for (let x = -180; x <= 180; x += 5) {
        coordinates.push([x, y]);
      }
      data.push({
        geometry: {
          type: "LineString",
          coordinates,
        },
        lineWidth: y === 0 ? 2 : undefined,
      });
    }
    return data;
  };

  Highcharts.getJSON(
    "https://code.highcharts.com/mapdata/custom/world.topo.json",
    (topology) => {
      const chart = Highcharts.mapChart("map-container", {
        chart: {
          map: topology,
          projection: {
            name: "Orthographic",
          },
          options3d: {
            enabled: true,
            alpha: 40,
            beta: 0,
            depth: 200,
            viewDistance: 15,
            fitToPlot: true,
          },
          events: {
            load() {
              const chart = this;
              chart.container.onmousedown = function (e) {
                e.preventDefault();
                chart.isDragging = true;
                chart.mouseDownX = e.clientX;
                chart.mouseDownY = e.clientY;
              };
              chart.container.onmousemove = function (e) {
                if (chart.isDragging) {
                  console.log("Rotating map");
                  chart.update(
                    {
                      chart: {
                        options3d: {
                          beta:
                            chart.options.chart.options3d.beta +
                            (e.clientX - chart.mouseDownX) / 10,
                          alpha:
                            chart.options.chart.options3d.alpha +
                            (chart.mouseDownY - e.clientY) / 10,
                        },
                      },
                    },
                    undefined,
                    false,
                    false
                  );
                  chart.mouseDownX = e.clientX;
                  chart.mouseDownY = e.clientY;
                }
              };
              chart.container.onmouseup = function () {
                chart.isDragging = false;
              };
            },
          },
        },
        title: {
          text: "Airport density per country",
        },
        subtitle: {
          text: "Source: citypopulation.de",
        },
        colorAxis: {
          minColor: "#BFCFAD",
          maxColor: "#31784B",
          max: 1000,
        },
        series: [
          {
            name: "Graticule",
            type: "mapline",
            data: getGraticule(),
            nullColor: "rgba(0, 0, 0, 0.05)",
            enableMouseTracking: false,
            enable3d: true,
          },
          {
            data,
            joinBy: "name",
            name: "Airports per million km²",
            enable3d: true,
          },
        ],
      });
    }
  );
</script>

---------------------------------------------
<div class="container" style="margin-top: 1000px">
  <figure class="highcharts-figure">
    <div id="container"></div>
  </figure>

  <form style="width: 300px; margin: 0 auto" method="post">
    {% csrf_token %} {% for field in form %}
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >{{field.label}}</label
      >
      {{field}}
    </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Place your vote" />
  </form>
</div>

<script>
  let loadData = () => {
    fetch("/api/", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        renderChart(
          data.backend,
          data.frontend,
          data.fullstack,
          data.recruiter
        );
      });
  };

  loadData();

  let renderChart = (backend, frontend, fullstack, recruiter) => {
    Highcharts.chart("container", {
      chart: {
        type: "column",
      },
      title: {
        text: "What’s Your Professional Role?",
      },
      subtitle: {
        text: "2024",
      },

      yAxis: {
        min: 0,
        title: {
          text: "Total",
        },
      },

      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0,
        },
      },
      series: [
        {
          name: "Backend Dev",
          data: [backend],
        },
        {
          name: "Frontend Dev",
          data: [frontend],
        },
        {
          name: "FullStack Dev",
          data: [fullstack],
        },
        {
          name: "Recruiter",
          data: [recruiter],
        },
      ],
    });
  };
  renderChart();
</script>

{% endblock content %}
