{% extends 'base/main.html' %} {% load static %} {% block content %}

<section id="contact">
  <h3>Contact me</h3>
  <div class="inner">
    <section class="section--4">
      <div class="container">
        {% if success %}
        <div class="alert alert-success">
          Thank you for your message! We'll get back to you shortly.
        </div>
        {% endif %}
        <form class="contact--form" method="POST">
          {% csrf_token %} {% for field in form %}
          <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label"
              >{{ field.label }}</label
            >
            {{field}} {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
          </div>
          {% endfor %}
          <input class="btn btn-primary" type="submit" value="Send" />
        </form>
      </div>
    </section>

    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fas fa-envelope"></span>
          <h3>Email</h3>
          <a href="#">jotajimnz8@gmail.com</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fas fa-phone"></span>
          <h3>Phone</h3>
          <span>(+59 011)</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fas fa-home"></span>
          <h3>Address</h3>
          <span
            ><br />
            Buenos Aires, 1765<br />
            Argentina</span
          >
        </div>
      </section>
    </section>
  </div>
</section>


{% endblock content %}
