body{
    background-color: #000a27;
    position:relative;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color:
    #fff;
}
p {
    font-family: Helvetica, Arial, sans-serif;
    color:
    #fff;
}
* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    min-width: 360px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#map-container {
    height: 500px;
    margin-top:80px;
}
#container {
    height: 500px;
}
.highcharts-description {
    margin: 0.3rem 10px;
}
.project--image{
    max-width: 800px;
    
}
.section--2{
    background-color: #46677D;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section--1{
    background-color: #46677D;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    
}
.section--3{
    background-color: #46677D;
    padding-top: 2em;
    padding-bottom: 2em;
    
    
}
.section--3 h5{
    color: black;
    
    padding-bottom: 1em;
    
}
.section--3 p{
    color: black;
}
.section--4{
    background-color: #46677D;
    padding-top: 2em;
    padding-bottom: 2em;
    
    
}

.navigation-bar {
    background-color:#000a27;
    ;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.nav-link {
    color: #fff;
    padding: 0 20px; 
    text-decoration: none; 
    display: inline-block; 
}

.hero{
    background-color: 000B58;
    width:100%;
    min-height: 100%;
    color: #fff;
    padding: 0;
    text-align: center;
    
}

#profile_pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.hero--content{
    margin: 0 auto;
    padding: 3em 0;
}

.hero--content--intro{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
}

.intro--name{
    font-size: 100px;
    letter-spacing: .1em;
    font-weight: 700;
    
    
}

.description{
    font-size: 65px;
    text-align: center;
}

.slogan{
    font-size: 24px;
    text-align: center;
}


.projects--wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 2;
    margin-bottom: 2em;
    overflow-x: scroll;
}
.projects--wrapper::-webkit-scrollbar{
    width: 10px;
    height: 3px;

}
.projects--wrapper::-webkit-scrollbar-track{
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

}
.projects--wrapper::-webkit-scrollbar-thumb{
    background-color : #17a2b8;
    outline : 1px solid slategrey;
    border-radius: 100px
 
 }
 .projects--wrapper::-webkit-scrollbar-thumb:hover{
    background-color : #18b5ce;
    
 
 }
.project--column{
    max-width: 170px;
    flex: 0 0 auto; 
    text-align: center; 
    margin-bottom: 5px;
}

.project--thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project--body{
    background-color: #fff;
    padding: 1em;
    height: 45%;
    
}
.project--body h5{
    margin: 0 auto;
    padding: 3em 0;
    color:#1F2428;
}

.skills--container{
    width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.skill--wrapper{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.other--skills--wrapper{
    display: flex;
    gap: 1em;
    flex-wrap:wrap;
}
.skill--logo{
    width: 60px;
    height: 60px;
}
.skill--tag{
    background-color: #C4E7F2;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 20px;
}
.about--wrapper{
    align-items: center;
}
.project--image{
    max-width: 200px;
    min-width: 200px;
}
.contact--form{
    display:block;
    max-width: 600px;
    margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 2;
    margin-bottom: 2em;
    overflow-x: scroll;
}

.project-card {
    font-family: 'Heebo';
    background: var(--color);
    height: 350px;
    width: 250px;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: transform var(--transition-time);
  }


  .project-card:hover {
    transform: scale(1.05);
  }

.project-image-card h1 {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5em;
    font-size: 1.2em;
    margin: 0;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
  }
  
.project-card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.project-card .tags {
  display: flex;
}

.project-card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.project-card:before, .project-card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.project-card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.project-card:after {
  background: white;
  width: 200%;
  height: 200%;
}


.project-card:hover:before, .project-card:hover:after {
  transform: scale(1);
}


.project-image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align: center;
    padding: 1em;
  }


@media (max-width:900px){
    .cards-wrapper {
        grid-template-columns: 1fr;
      }
      .info {
        justify-content: center;
      }
      .card-grid-space .num {
        margin-left: 0;
        text-align: center;
      }
    .hero--content--intro{
        flex-direction: column;
    }

    .projects--wrapper{

        grid-template-columns: 1fr ;
    }
    .skill--logo{
        width: 60px;
        height: 60px;
    }
}

@media (max-width:800px){
    .hero--content{
        width: 100%;
    }

}


@media (max-width:600px){
    .skills--container{
        width: 100%;
    }
    .cards-wrapper {
        padding: 4rem 2rem;
      }
      .project-card {
        max-width: calc(100vw - 4rem);
      }
    
}

@media (max-width:400px){
    .skills--container{
        width: 100%;
    }
    .skill--wrapper{
        flex-flow:column;
        
    }
    .info {
        display: block;
        text-align: center;
      }
      .info h1 {
        margin: 0;
      }
}

